.content {
    margin: 2em auto;
    width: 35em;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    min-width: 700px !important;
}

.content a {
    color: #000;
}
.content a:focus, a:active, a:hover{
	text-decoration:underline;
}

.content a:visited {
	color: #000;
}
